<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="login">
        <div style="justify-content: center;text-align:center;">
            <a href="../view/index.php"><img src="../view/img/Rent-a-dream-logo-only.png" width="150rem" alt=""></a>
        </div>
        <div style="display:flex;text-align: center;justify-content:center;align-items: center;">
            <div class="container">
                <div class="heading">Log in</div>
                <form action="../controller/usercontroller.php" class="form" method="POST">
                    <input required class="input" type="email" name="email" id="email" placeholder="E-mail">
                    <input required class="input" type="password" name="password" id="password" placeholder="Password">
                    <span class="forgot-password"><a href="sign_up.html" style="text-shadow: none">Forgot Password ?</a></span>
                    <span class="forgot-password"><a href="sign_up.html" style="text-shadow: none">Register</a></span>
                    <input class="login-button" type="submit" name="login" value="login">
                </form>
            </div>
        </div>
    </div>
</body>

</html>